@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tac One";
  src: url("./fonts/TacOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Great Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .header-transition {
    transition: transform 0.5s ease-in-out;
  }
}

/* Estilos para o scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to right, #4f46e5, #3da9fc, #00c9ff);  */
  background: #1d4fd9;
  border-radius: 16px;
}

.Toastify__toast--success {
  background-color: #fff !important;
}

.Toastify__toast--success .Toastify__toast-icon {
  background-color: #fff !important;
  border-radius: 50%;
}

.Toastify__progress-bar--success {
  background: #6b81f2 !important;
}

.Toastify__toast--success .Toastify__toast-icon > svg {
  fill: #6b81f2 !important;
  border-radius: 50%;
}
